In [22]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score

In [23]:
df=pd.read_csv('https://raw.githubusercontent.com/persocom01/GA-lessons/master/6.02-lesson-bagging/datasets/Heart.csv')

In [24]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [25]:
df.info

<bound method DataFrame.info of      Unnamed: 0  Age  Sex     ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1       typical     145   233    1        2    150
1             2   67    1  asymptomatic     160   286    0        2    108
2             3   67    1  asymptomatic     120   229    0        2    129
3             4   37    1    nonanginal     130   250    0        0    187
4             5   41    0    nontypical     130   204    0        2    172
..          ...  ...  ...           ...     ...   ...  ...      ...    ...
298         299   45    1       typical     110   264    0        0    132
299         300   68    1  asymptomatic     144   193    1        0    141
300         301   57    1  asymptomatic     130   131    0        0    115
301         302   57    0    nontypical     130   236    0        2    174
302         303   38    1    nonanginal     138   175    0        0    173

     ExAng  Oldpeak  Slope   Ca        Thal  AHD
0        0      2.3      3  0.0       fixed   No
1        1      1.5      2  3.0      normal  Yes
2        1      2.6      2  2.0  reversable  Yes
3        0      3.5      3  0.0      normal   No
4        0      1.4      1  0.0      normal   No
..     ...      ...    ...  ...         ...  ...
298      0      1.2      2  0.0  reversable  Yes
299      0      3.4      2  2.0  reversable  Yes
300      1      1.2      2  1.0  reversable  Yes
301      0      0.0      2  1.0      normal  Yes
302      0      0.0      1  NaN      normal   No

[303 rows x 15 columns]>

In [26]:
df.shape

(303, 15)

In [27]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [28]:
df.shape

(303, 14)

In [29]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [30]:
df.describe()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [31]:
df.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         2
AHD          0
dtype: int64

In [32]:
df.dropna(inplace=True)

In [33]:
df.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [34]:
df.shape

(297, 14)

In [35]:
df = pd.get_dummies(df, columns = ['ChestPain', 'Thal', 'AHD'], drop_first=True)

In [36]:
df.head()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical,Thal_normal,Thal_reversable,AHD_Yes
0,63,1,145,233,1,2,150,0,2.3,3,0.0,0,0,1,0,0,0
1,67,1,160,286,0,2,108,1,1.5,2,3.0,0,0,0,1,0,1
2,67,1,120,229,0,2,129,1,2.6,2,2.0,0,0,0,0,1,1
3,37,1,130,250,0,0,187,0,3.5,3,0.0,1,0,0,1,0,0
4,41,0,130,204,0,2,172,0,1.4,1,0.0,0,1,0,1,0,0

In [39]:
x = df.drop('AHD_Yes', axis=1)
y = df['AHD_Yes']

In [41]:
y.value_counts(normalize=True)

0    0.538721
1    0.461279
Name: AHD_Yes, dtype: float64

In [42]:
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state=42, stratify=y)

In [43]:
tree = DecisionTreeClassifier()

In [45]:
cross_val_score(tree,X_train, y_train).mean()

/Users/ashimamalik/PycharmProjects/vEnv/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

0.6801801801801801

In [46]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [47]:
tree.score(X_train, y_train)

1.0

In [48]:
tree.score(X_test, y_test)

0.68

In [50]:
X_test.index

Int64Index([113, 195,  64,  27, 245, 210, 221,   1, 116, 157, 194, 190, 298,
            103, 278,   5, 102, 289, 187,  21,  90,  66, 104, 162, 297, 232,
             56, 252, 155,  34, 239, 175, 238, 282, 101,  88, 216,   6, 206,
            292, 200,  98, 290, 286,  67, 265, 135, 169, 236, 163, 214,  23,
            172, 272, 300, 275, 255, 198, 242, 270, 280, 137, 281,   3, 132,
            183,  62, 168,  70, 295,  93, 133,  33,  20,  76],
           dtype='int64')

In [54]:
predictions = pd.DataFrame(index=X_test.index)
predictions

Empty DataFrame
Columns: []
Index: [113, 195, 64, 27, 245, 210, 221, 1, 116, 157, 194, 190, 298, 103, 278, 5, 102, 289, 187, 21, 90, 66, 104, 162, 297, 232, 56, 252, 155, 34, 239, 175, 238, 282, 101, 88, 216, 6, 206, 292, 200, 98, 290, 286, 67, 265, 135, 169, 236, 163, 214, 23, 172, 272, 300, 275, 255, 198, 242, 270, 280, 137, 281, 3, 132, 183, 62, 168, 70, 295, 93, 133, 33, 20, 76]

[75 rows x 0 columns]

In [55]:
for i in range(10):
    t = DecisionTreeClassifier()
    t.fit(X_train, y_train)
    predictions[f'Tree{i}'] = t.predict(X_test)

predictions

     Tree0  Tree1  Tree2  Tree3  Tree4  Tree5  Tree6  Tree7  Tree8  Tree9
113      1      1      1      1      1      1      1      1      1      1
195      1      1      1      1      1      1      1      1      1      1
64       1      1      1      1      1      1      1      1      1      1
27       0      0      0      0      0      0      0      0      0      0
245      0      0      0      0      0      0      0      0      0      0
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
93       1      1      1      1      1      1      1      1      1      1
133      0      0      0      0      0      0      0      0      0      0
33       0      0      0      0      0      0      0      0      0      0
20       1      0      0      0      1      0      0      0      1      1
76       1      1      1      1      1      1      1      1      1      1

[75 rows x 10 columns]

In [56]:
probs = predictions.mean(axis='columns')
probs

113    1.0
195    1.0
64     1.0
27     0.0
245    0.0
      ...
93     1.0
133    0.0
33     0.0
20     0.4
76     1.0
Length: 75, dtype: float64

In [61]:
accuracy_score(y_test, (probs>.5).astype(int))

0.7066666666666667

In [65]:
X_train.sample(n = X_train.shape[0], replace=True, random_state=42)

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical,Thal_normal,Thal_reversable
59,51,1,125,213,0,2,125,1,1.4,1,1.0,0,0,1,1,0
234,54,0,160,201,0,0,163,0,0.0,1,1.0,1,0,0,1,0
50,41,0,105,198,0,0,168,0,0.0,1,1.0,0,1,0,1,0
117,35,0,138,183,0,0,182,0,1.4,1,0.0,0,0,0,1,0
10,57,1,140,192,0,0,148,0,0.4,2,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,45,1,104,208,0,2,148,1,3.0,2,0.0,0,0,0,1,0
28,43,1,150,247,0,0,171,0,1.5,1,0.0,0,0,0,1,0
91,62,0,160,164,0,2,145,0,6.2,3,3.0,0,0,0,0,1
140,59,1,140,221,0,0,164,1,0.0,1,0.0,0,1,0,1,0
228,54,1,110,206,0,2,108,1,0.0,2,1.0,0,0,0,1,0

In [66]:
predictions = pd.DataFrame(index=X_test.index)

In [67]:
for i in range(10):
    X_sample = X_train.sample(n = X_train.shape[0], replace=True)
    y_sample = y_train[X_sample.index]
    t = DecisionTreeClassifier()
    t.fit(X_train, y_train)
    predictions[f'Tree {i}'] = t.predict(X_test)
predictions

,Tree 0,Tree 1,Tree 2,Tree 3,Tree 4,Tree 5,Tree 6,Tree 7,Tree 8,Tree 9
113,1,1,1,1,1,1,1,1,1,1
195,1,1,1,1,1,1,1,1,1,1
64,1,1,1,1,1,1,1,1,1,1
27,0,0,0,0,0,0,0,0,0,0
245,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
93,1,1,1,1,1,1,1,1,1,1
133,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0
20,0,1,0,1,1,0,1,1,1,0
76,1,1,1,1,1,1,1,1,1,1

In [69]:
predictions.mean(axis='columns')

113    1.0
195    1.0
64     1.0
27     0.0
245    0.0
      ...
93     1.0
133    0.0
33     0.0
20     0.6
76     1.0
Length: 75, dtype: float64

In [70]:
probs = predictions.mean(axis='columns')

In [71]:
accuracy_score(y_test, (probs>=.5))

0.6933333333333334

In [72]:
bag = BaggingClassifier(random_state = 42)
bag.fit(X_train, y_train)

BaggingClassifier(base_estimator=None, bootstrap=True, bootstrap_features=False,
                  max_features=1.0, max_samples=1.0, n_estimators=10,
                  n_jobs=None, oob_score=False, random_state=42, verbose=0,
                  warm_start=False)

In [73]:
bag.score(X_test, y_test)

0.7733333333333333